*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   }
body{
    font-family: 'Raleway', sans-serif;
   
}
nav{
    position: fixed;
    width: 100%;
    padding:25px 15px;
    z-index: 100;
    height: 10%;
    background-color: white;
   box-shadow: 0px 0px 6px 0px grey; 
}
nav a{
    text-decoration: none;
    color: black;
    word-spacing: 10px;
    font-weight: 500px;
    margin-left: 30px;
    font-size: 17px;
}
nav :nth-child(1){
    letter-spacing: 7px;
    margin: 0px;
}
nav :nth-child(2){
    margin-left: 700px;
}
 header{
    background-image: url(../imgs/photo-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom:30px ;

} 
header h1{
    font-size: 70px;
    padding: 200px 40px 50px 41px;
    /* color: white; */
}
header h3{
    padding-left: 40px;
    padding-bottom: 50px;
}
header button{
    margin-left: 40px;
    margin-bottom: 50px;
    background-color: rgba(221, 221, 221, 0.274);
    padding:20px 30px ;
    border: none;
}
header button a{
    text-decoration: none;
    color: black;
    font-size: 19px;
  
}
header div{
    margin: 80px 0px 20px 50px;

}
 .h3{
text-align: center;
padding-top: 150px;
font-weight: normal;
font-size: 25px;
}
 .h4{
    text-align: center;
   margin-top: 35px;
    font-weight: normal;
    font-size: 20px;
}
.shapes{
    display: flex;

}
.shapes div{
    padding: 20px;
    width:calc( 99% / 4) ;
    text-align: center;
    margin-bottom: 90px;
}
.shapes div i{
    font-size: 60px;
    margin-top: 50px;
  
}
.shapes div p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}
.two{
    background-color: #eee;
    display: flex;
    padding: 170px 40px;
}.two h3{
    font-size: 25px;
    margin-bottom: 30px;
}
.two p{ 
    line-height: 30px;

}
.two button{
    background-color: black;
    padding: 15px 20px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    
}
button a{
    color: white;
    text-decoration: none;
}
 .two div img{
    width: 100%;
    border-radius: 10px;
    margin-left: 20px;
}
.caracter {
    display: flex;
    margin-top: 60px;
    padding: 20px;
}
.caracter div {
    width: calc (90% / 4);
    margin: 15px 0px 50px 15px;
    box-shadow: 0px 0px 7px 0px rgb(182, 181, 181);

}
.caracter div img {
    width: 100%;
  filter: grayscale(70%);
 
}
.caracter div h2 {
    padding: 20px;
}
.caracter div h4 {
    margin: 17px;
    color: gray;
    font-weight: normal;
    font-size: 5;
}
.caracter div p{
    margin: 15px;
    line-height: 25px;
   
}
.caracter div button{
    background-color: #eee;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 20px;
    border: none;
    font-size: 20px;
    padding: 10px;
}
.three{
    background-color: rgb(97, 96, 96);
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: 100px;

}
.three div{
    width: calc(95% / 4);
    color: white;
    text-align: center;
    margin-right:100px ;
    margin-left: 20px;
    line-height: 40px;

}
.three div h3{ 
    text-align: center;
    font-size: 35px;

}
.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 80px;
}
.imgs img{
    width: calc(95% / 4);
    margin-bottom: 10px;
    
}
.skills{
    display: flex;
    background-color: #eee;
    justify-content: space-between;
    padding: 50px;
    line-height: 30px;
}
.skills p{
    margin-top: 20px;
}
.skills div{
    width: calc(95% / 2);
}
.skills h3{
    font-size: 25px;
    
}
.ratio span{
    letter-spacing: 3px;
    margin-left: 10px;
}
.ratio .lab1 ,.ratio .lab2 ,.ratio .lab3{
    background-color: rgb(160, 159, 159);
    width: 98%;
    margin: 20px auto;
    height: 30px;
    position: relative;
}

.lab1::after{
    content: "90%";
    background-color: rgb(104, 103, 103);
    width: 90%;
   text-align: center;
    height: 28px;
    padding: 1px;
    position: absolute;
    top: 0px;
    color: white;

}
.lab2::after{
    content: "85%";
    background-color: rgb(104, 103, 103);
    width: 83%;
   text-align: center;
   height: 28px;
    padding: 1px;
    position: absolute;
    top: 0px;
    color: white;

}.lab3::after{
    content: "75%";
    background-color: rgb(104, 103, 103);
    width: 75%;
   text-align: center;
    height: 28px;
    padding: 1px;
    position: absolute;
    top: 0px;
    color: white;
}
.pricing {
    background-color: rgb(104, 103, 103);

}
.pricing 
h3
,.pricing h4{
    color: white;
}
.pricing .parent {
    display: flex;
    justify-content: space-evenly;
}
.parent div{
     width: calc (95% /3) ;
     padding-bottom:150px ;
}
 .parent .list li{
     width: 110%;
     list-style: none;
     text-align: center;
     padding: 30px 130px;
      border-bottom: 1px solid rgba(179, 176, 176, 0.562);
     margin-left: -20px;
     background-color: white;
}
 .list .item{
     width: 100%;
    text-align: center;
    padding: 20px 60px ;
    background-color: white;
    font-size: 18px;
    color: gray;
    border: 1px solid rgba(214, 213, 213, 0.719);
    

}

 .basic .list .Bas , .basic .list .Premium{
    text-align: center;
    background-color: rgb(14, 0, 0);
    padding: 40px 80px;
    color: white;
    font-size: 30px;
    margin-top: 95px;

} 
.basic .list .pro{
    text-align: center;
    background-color: rgb(212, 37, 24);
    padding: 70px 100px;
    color: white;
    font-size: 30px;
    margin-top: 75px;
} 


.basic button {
    background-color: rgb(0, 0, 0);
color: white;
padding: 20px 40px;
border: none;
}
.basic .sign{
    text-align: center;
    background-color: inherit;
    border: 1px solid rgba(214, 213, 213, 0.719);
    padding: 20px;
}
.list .item h3 {
    font-size: 35px;
    color: rgb(75, 74, 74);
    font-weight: normal;
    
}
.contact{
    background-color: #eee;
}
.contact div{
    margin: 40px 0px 50px 30px;

}
 
.contact div i{
     margin-right: 20px;
    font-size: 30px;
}
.contact .input{
    width: 95%;
    margin: 15px;
    display: block;
    padding: 15px;
    /* margin-left: 40px; */
    border:none;
}
.contact button{
    background-color: black;
    color: white;
    padding:  10px 15px;
    border: none;
    margin: 20px;
    font-size: 18px;
}
.contact img{
    width: 97%;
    margin:  40px 20px 60px;
    filter: grayscale(.9);

}
footer{
    background-color: black;

}
footer div{
   
    color: white;
    text-align: center;
    
}

footer .social{
    font-size: 25px;
    padding-bottom: 50px;
}
footer div button {
    background-color: white;
    padding:  15px 35px;
    font-size: 14px;
    border: none;
    margin: 50px;
    
}

footer .last a{
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
}
 footer button a {
    color: black;
}
.last{
    padding-bottom: 100px;

}
